@import './variable.scss';

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  background: $black;
  color: $white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  transition: 0.2s;
  &:hover {
    opacity: 0.6;
    transition: 0.2s;
  }
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}
